.sidebar {
  background-color: rgb(53, 34, 138);
  width: 0%;
  transition: width 0.35s;
  transition-timing-function: ease;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.sidebar-open {
  width: 12.5rem;
}

.sidebar--content {
  color: white;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  transition: opacity 0.3s;
}

.sidebar--content-open {
  opacity: 1;
}
