.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #6a66a3;
}

.main-content {
  width: 100%;
}

.app-title {
  font-size: 3rem;
}
body {
  font-family: "Source Code Pro", monospace;
}

button {
  font-family: "Source Code Pro", monospace;
}
